
<section id="intro" class="main style1 dark fullscreen">
<div class="content">
  <header>
    <h2>Time To Get Some Awesome Quotes.</h2>
  </header>

  <p>

  <h3><b class="empa">"</b> Some people are like clouds. When they go away, it's a brighter day.<b class="empa">"</b> </h3>

  </p> 

  <br>
  <br>
</div>
