
<section id="intro" class="main style1 dark fullscreen">
<div class="content container 75%">
  <header>
    <h2>Time to get an awesome piece of advice.</h2>
  </header>
  <p>Some people are like clouds. When they go away, it's a brighter day.</p> 

  <br>
  <br>
  
</section>
  <p>The best advice is this: Don’t take advice and don’t give advice.</p> 
</section>
