
<section id="intro" class="main style1 dark fullscreen">
<div class="content container 75%">
  <header>
    <h2>Time to get an awesome advice.</h2>
  </header>
  <p>The best advice is this: Don’t take advice and don’t give advice.</p> 
  
</section>