<!-- <h1>Home Page</h1>
<a href="/submit">Submit Some Advice, Jimmy...</a>
<a href="/show">HIT ME WITH AN AWESOME ADVICE (please)</a> -->

<div class="content container 75%">
<!--   <header>
    <h2>Time to get awesome advice.</h2>
  </header>
  <p>Some people are like clouds. When they go away, it's a brighter day.</p> -->


  <p> YOUR BOOKMARKED ADVICES: </p>
  <p>
    <ol>
      <% current_user.bookmarks.map do |bookmark| %>
      <li><%= "#{bookmark.advice.content}" %></li>
      <% end %>
    </ol>
  </p>
</div>
