
<section id="intro" class="main style1 dark fullscreen">
<div class="content container 75%">
  <header>
    <h2>Time to get an awesome piece of advice.</h2>
  </header>
  <p>Some people are like clouds. When they go away, it's a brighter day.</p> 

  <br>
  <br>

  <% if current_user %>
  <p> Your bookmarked advice: </p>
  <p>Your advice has been bookmarked a total of <%= Advice.joins(:bookmarks).where(user_id: current_user.id).count %> times!</p>
  <p>
    <ol>
      <% current_user.bookmarks.map do |bookmark| %>
      <li>
       <%= "#{bookmark.advice.content}" "#{Advice.joins(:bookmarks).where( id: 4).count} bookmarks!" %><form action="/delete" method="POST">
       <input type="hidden" name="bookmark_id" value="<%= bookmark.id %>">
       <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-music"></span>        Delete!</button>
     </form></li>
     <a href="/posts">View All Your Posted Advice</a>
     <% end %>
   </ol>
 </p>
 <% end %>

</section>
  <p>The best advice is this: Don’t take advice and don’t give advice.</p> 
</section>
