<h1>Home Page</h1>
  <button class="btn btn-default" type="submit">
    <a href="/submit">Submit</a>
  </button>
  <button class="btn btn-default" type="submit">
    <a href="/show">MAGIC8 ME</a>
  </button>