
<!DOCTYPE HTML>
<html>
  <head>
    <title>MAGIC 8 ME</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

      <header id="header">

          <h1 id="logo"><img src="/images/8icon.png" alt="magic8_icon" height="60" width="60"></h1>
          <h1 ><a href="/profile" id="logo_title">MAGIC 8 ME</a></h1>

          <nav id="nav">
            <ul>
              <% if current_user %>
                <li>Welcome Back, <%= current_user.username %></li>
                <li><a href="/submit">Post Advice</a></li>
                <li><a href="/show">Get Advice</a></li>
                <li><a href="/logout">LOG OUT</a></li>
              <% else %>
                <li><a href="/login">Log in</a></li>
                <li><a href="#signup">Sign up</a></li>
              <% end %>
              
            </ul>
          </nav>

      </header>

      <%= yield %>
  
    </body>
  
</html>