
<!DOCTYPE HTML>
<html>
  <head>
    <title>MAGIC 8 ME</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

    <!-- Header -->
      <header id="header">

        <!-- Logo -->
          <h1 id="logo"><img src="/images/8icon.png" alt="magic8_icon" height="42" width="42"></h1>
          <h1 ><a href="/" id="logo_title">MAGIC 8 ME</a></h1>

        <!-- Nav -->
          <nav id="nav">
            <ul>
              <% if current_user %>
                <li>Welcome Back, <%= current_user.username %></li>
                <li><a href="/submit">Post Advice</a></li>
                <li><a href="/show">Get Advice</a></li>
                <li><a href="/logout">LOG OUT</a></li>
              <% else %>
                <li><a href="/login">Log in</a></li>
                <li><a href="#signup">Sign up</a></li>
              <% end %>
              
            </ul>
          </nav>

      </header>

    <!-- Main -->
    <section id="intro" class="main style1 dark fullscreen">
      <%= yield %>
    </section>
  
    </body>
  
</html>