<!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
 <div class="nav navbar-left">
 
 </div>
</div> -->
<section id="intro" class="main style2 dark fullscreen">
<% if session[:user_id] %>
   <%= current_user.username %>
 <% else %>
  <% if @message %> 
    <p><%= @message %></p>
  <% end %>
<form method="POST" action="/login">
  <input type="text" name="username" placeholder="Your Username">
  <input type="text" name="password" placeholder="Your Password">
  <button type="submit">Log In!</button>
</form>
<% end %>
</section>