<section id="intro" class="main style3 dark fullscreen">

<% if current_user %>

>>>>>>> ad7fcf448d2a6a72c76016c48bc424249f46ae2c
<p> Your AMAZING advice: </p>
<p><%= @advice.content %></p>
  <form action="/bookmark" method="POST">
    <input type="hidden" name="advice_id" value="<%= @advice.id %>">
      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-music"></span>Bookmark!</button>
  </form>
  <% else %>
<% redirect '/' %>
</section>
<% end %>
