<section id="intro" class="main style3 dark fullscreen">

<% if current_user %>

<p class="get_comment"> <strong><h3>Your AMAZING advice is... </h3></strong></p>
<p><%= @advice.content %></p>
  <form action="/bookmark" method="POST">
    <input type="hidden" name="advice_id" value="<%= @advice.id %>">
    <br>
    <button class="btn btn-default" type="submit">Bookmark!</button>
  </form>
  <form action="/flag" method="POST">
  <input type="hidden" name="advice_id" value="<%= @advice.id %>">
      <button class="btn btn-default" type="submit"></span>Flag!</button>
  </form>
  <% else %>
<% redirect '/' %>
</section>
<% end %>