
<section id="intro" class="main style3 dark fullscreen">

 <% if current_user %>
<p> Your AMAZING advice: </p>
<p><%= @advice.content %></p>
  <form action="/bookmark" method="POST">
    <input type="hidden" name="advice_id" value="<%= @advice.id %>">
      <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-music"></span>        Bookmark!</button>
<!--       <a href="/profile">View All Saved Advice</a> -->
  </form>

   <% else %>
  <% redirect "/" %>
 <% end %>
  </section>