<form class="form-horizontal" method="POST" action="/signup">
      <input type="text" name="username"placeholder="Your Username">
      <input type="password" name="password"placeholder="Your Password">
      <button type="submit" value="Sign Up" class="btn btn-default">Sign Up!</button>
</form>

