<section id="intro" class="main style2 dark fullscreen">
  <form class="user_forms" method="POST" action="/signup">
    <input type="text" name="username" class="individual-form-control" placeholder="Create Username">
    <input type="password" name="password" class="individual-form-control" placeholder="Create Password">
    <button type="submit" value="Sign Up" class="btn">Sign Up!</button>
  </form>
</section>