<section id="intro" class="main style2 dark fullscreen">
  <% if current_user %>

  <form method="post" action="/submit">

      <input type="text" class="form-control" placeholder="Your Advice"  name="content">

     <input type="submit" class="form-control" placeholder="Submit"  value="Submit">
   </form>
</form>
<% else %>
<% redirect '/' %>
</section>
<% end %>
