<form method="post" action="/submit">
  <div class="input-group input-group-lg">
    <span class="input-group-addon" id="sizing-addon2">🎼</span>
    <input type="text" class="form-control" placeholder="Your Advice" aria-describedby="sizing-addon2" name="content">
  </div>
  <div class="input-group input-group-lg">
 <input type="submit" class="form-control" placeholder="Submit" aria-describedby="sizing-addon3" value="Submit" >
</form>
