<section id="intro" class="main style2 dark fullscreen">
  <% if current_user %>

  <div class="post_comment">

  <strong><h3> Words matter, Choose Carefully... =) </h3></strong>
  <br>
  <form method="post" action="/submit">

    <input type="text" class="individual-post-control" placeholder="SUBMIT YOUR QUOTE HERE!"  name="content">

    <input type="submit" class="btn btn-post" placeholder="Submit"  value="Submit">

   </form>


 </div> 
<% else %>
<% redirect '/' %>
</section>
<% end %>
