<p> Your posted advice: </p>

<p>

<ol>
<% current_user.advices.map do |advice| %>
 <li><%= "#{advice.content}" %> Count: <%= Advice.joins(:bookmarks).where(id: advice.id).count%></li>
<% end %>

</ol>


</p>

