<section id="intro" class="main style3 dark fullscreen">
  <p> Your bookmarked advice: </p>
  <p>
    <ol>
      <% current_user.bookmarks.map do |bookmark| %>
      <li>
       <%= "#{bookmark.advice.content}" %><form action="/delete" method="POST">
       <input type="hidden" name="bookmark_id" value="<%= bookmark.id %>">
       <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-music"></span>        Delete!</button>
     </form></li>
     <a href="/posts">View All Your Posted Advice</a>
     <% end %>
   </ol>
 </p>
 </section>
